body {
  background-color: rgb(223, 222, 222);
  transition: background-color 1s cubic-bezier(0, 0.48, 1, 0.59);
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 40px;
  }
}
footer svg {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}
#footerWave {
  transition: all 1s ease;
}
body.camel {
  background-color: sandybrown;
}
body.pascal {
  background-color: blue;
}
body.kebab {
  background-color: red;
}
body.snake {
  background-color: yellowgreen;
}
#btnContainer {
  display: flex;
  justify-content: space-around;
  button {
      text-transform: none;
  }
}
